<template>
  <div class="card-container" :class="objClass" data-tid="Card">
    <div class="card-place"></div>
    <div class="card-content">
        <div
          class="card-front"
          :style="{ backgroundImage: `url('${shirtImage}')` }"
        >
        </div>
        <div
          class="card-back"
          :style="{ backgroundImage: `url('${cardImage}')` }"
          data-tid="Card-flipped"
        >
        </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      required: true
    },
    isFlipped: {
      type: Boolean,
      required: true
    },
    isFound: {
      type: Boolean,
      required: true
    }
  },
  computed: {
    objClass () {
      return {
        flipped: this.isFlipped,
        found: this.isFound
      }
    },
    cardImage () {
      return require(`../assets/cards/${this.value}.png`)
    },
    shirtImage () {
      return require('../assets/CardBack.png')
    }
  }
}
</script>

<style>
.card-front {
  background: #ffffff;
  background-size: contain;
  background-position: center;
}

.card-front, .card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 100px;
  color: #03446a;
  text-align: center;
  font-size: 30px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.card-container {
  position: relative;
  width: 130px;
  height: 180px;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
  perspective: 750px;
}

.card-container.flipped .card-content {
  transform: rotateY(180deg);
}

.card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform .5s;
  transform-style: preserve-3d;
}

.card-back {
  background-size: cover;
  color: #ffffff;
  transform: rotateY(180deg);
}

.card-container.found .card-content {
  display: none;
}

.card-place {
  display: none;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 4px;
}

.card-container.found .card-place {
  display: block;
  cursor: initial;
}
</style>
