<template>
  <div class="memory__game_container" data-tid="Deck">
    <div class="memory__menu">
      <button class="memory__btn memory__btn--transparent" @click="newGame()" data-tid="Menu-newGame"> Начать заново</button>
      <div class="memory__score_container">
        Очки:
        <span class="memory__score" data-tid="Menu-scores"> {{ score }} </span>
      </div>
    </div>
    <card v-for="(card, index) in cards"
      :key="index"
      :value="card.value"
      :is-flipped="card.isFlipped"
      :is-found="card.isFound"
      @click.native="flip(card, index)" />
  </div>
</template>

<script>
import card from './Card.vue'
export default {
  data () {
    return {
      timeout: null
    }
  },
  components: {
    card
  },
  methods: {
    newGame () {
      Promise.all([
        this.$store.dispatch('newGame'),
        this.$store.dispatch('setRandomCards'),
        this.$store.dispatch('clearScore'),
        this.$store.dispatch('clearFoundCards')
      ])
      clearTimeout(this.timeout)
      this.timeout = setTimeout(() => {
        this.invertAllCards()
      }, 5000)
    },

    invertAllCards () {
      this.$store.dispatch('invertCards')
    },

    setMatchedCards () {
      return Promise.all([
        this.$store.dispatch('markFoundCards'),
        this.$store.dispatch('setFoundCards'),
        this.$store.dispatch('invertCards'),
        this.$store.dispatch('addsScore')
      ])
    },

    invertDifferentCards () {
      return Promise.all([
        this.$store.dispatch('subtractsScore'),
        this.$store.dispatch('invertCards')
      ])
    },

    flip (card, key) {
      if (card.isFlipped || card.isFound || this.flippedCards.length >= 2) return
      this.$store.dispatch('flipCard', key)

      if (this.sameFlippedCards()) {
        // Карты совпали
        setTimeout(() => {
          this.setMatchedCards()
          if (this.allCardsFound()) {
            this.$store.dispatch('gameOver')
            this.finishGame()
          }
        }, 1000)
      } else {
        // Карты не совпали
        if (this.flippedCards.length === 1) return
        setTimeout(() => {
          this.invertDifferentCards()
        }, 1000)
      }
    },

    sameFlippedCards () {
      return (this.flippedCards.length === 2 &&
        this.flippedCards[0].value === this.flippedCards[1].value)
    },

    allCardsFound () {
      return (this.foundCards.length === this.cards.length)
    },

    finishGame () {
      this.$router.push('/gameover')
    }
  },
  computed: {
    cards () {
      return this.$store.state.cards
    },
    score () {
      return this.$store.state.score
    },
    foundCards () {
      return this.$store.state.foundCards
    },
    flippedCards () {
      return this.cards.filter(card => card.isFlipped)
    }
  },
  created () {
    this.newGame()
  }
}
</script>

<style scoped>
.memory__game_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px auto;
  width: 1000px;
}

.memory__menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.memory__btn--transparent {
  padding: 0;
  background: transparent;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: -0.25px;
}

.memory__score_container {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  opacity: .8;
}
</style>
