<template>
  <div class="memory__container">
      <img src="../assets/GameOver.png" />
      <div class="memory__info">
        <p class="m0">Поздравляем</p>
        <p class="m0">Ваш итоговый счет: {{ score }} </p>
      </div>
      <router-link to="/game" tag="button" class="memory__btn" data-tid="EndGame-retryGame">
        Еще раз
      </router-link>
  </div>
</template>

<script>
export default {
  data () {
    return {
      score: this.$store.state.score
    }
  },
  computed: {
    gameOver () {
      return this.$store.state.isGameOver
    }
  },
  created () {
    if (!this.gameOver) {
      this.$router.push('/')
    }
  }
}
</script>

<style>
.memory__info {
  text-align: center;
  font-size: 24px;
  margin: 20px 0 50px;
  letter-spacing: 0.15px;
  line-height: 35px;
  font-weight: 700;
  color: #fff;
  opacity: .85;
}
</style>
