<template>
  <div class="memory__container">
      <img src="../assets/StartGame.png" />
      <div class="memory__name">Memory Game</div>
      <router-link to="/game" tag="button" class="memory__btn" data-tid="NewGame-startGame">
        Начать игру
      </router-link>
  </div>
</template>

<script>
export default {}
</script>

<style>
</style>
