<template>
  <div id="app" data-tid="App">
    <router-view />
  </div>
</template>

<script>
import NewGame from '@/components/NewGame'
import GameLayout from '@/components/GameLayout'
import Cards from '@/helpers/cards.json'

export default {
  name: 'App',
  components: {
    NewGame,
    GameLayout
  },
  created () {
    this.$store.dispatch('setDeck', Cards)
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
html, body, #app {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #1C7430;
  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
  outline: none;
}

.memory__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.memory__name {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.2px;
  opacity: .85;
  margin: 20px 0 34px;
}

.memory__btn {
  opacity: 0.85;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  color: #1C7430;
  letter-spacing: 0;
  font-weight: 700;
  cursor: pointer;
  transition: transform .3s;
}

.memory__btn:active {
  transform: scale(0.9);
}

.m0 {
  margin: 0;
}
</style>
